@charset 'UTF-8';

@font-face {
  font-family: 'CharisSIL';
  src: url('/fonts/charis/CharisSil-R.tff') format('ttf'),
    url('/fonts/charis/CharisSil-R.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'CharisSIL';
  src: url('/fonts/charis/CharisSil-I.tff') format('ttf'),
    url('/fonts/charis/CharisSil-I.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'CharisSIL';
  src: url('/fonts/charis/CharisSil-B.tff') format('ttf'),
    url('/fonts/charis/CharisSil-B.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'CharisSIL';
  src: url('/fonts/charis/CharisSil-BI.tff') format('ttf'),
    url('/fonts/charis/CharisSil-BI.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 700;
}

@page {
  size: 8.5in 11in;
  margin: 0;
  background: url('pleading_paper.png') no-repeat center;
  padding: 0.822in 0.5in 0.7in 1.45in;
  background-size: cover;
  @bottom-center {
    font-family: 'CharisSIL';
    font-size: 12pt;
    content: counter(page);
    text-align: center;
    margin-top: -100px;
    width: 100%;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  color: black;
  font-family: 'CharisSIL';
  font-size: 12pt;
  font-weight: 500;
  line-height: 24pt;
  min-height: 100%;
  margin: 0;
  break-before: page;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-weight: 700;
  line-height: 24pt;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  line-height: 24pt;
  font-weight: 700;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  line-height: 24pt;
  font-weight: 700;
  text-align: left;
}

p {
  text-indent: 2em;
}

.header, .signature {
  margin-top: 6pt;
  line-height: 12pt;
  margin-bottom: 6pt;
}
.signature {
  margin-top: 48pt;
  padding-left: 240pt;
  page-break-inside: avoid;
}

.court {
  text-align: center;
}

.caption {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-bottom: -1px;
}

.left {
  width: 50%;
  display: inline;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.party {
  padding-left: 36pt;
}

.right {
  padding-left: 12pt;
  width: 50%;
  display: inline;
}

.motion-name {
  font-weight: 700;
  text-transform: uppercase;
}

hr {
  display: none;
}

li {
  padding-left: 24pt;
}
