@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-Thin.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-ThinItalic.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-ThinItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-Light.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-LightItalic.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-Regular.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-RegularItalic.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-RegularItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-Medium.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-MediumItalic.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-MediumItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-SemiBold.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-SemiBoldItalic.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-SemiBoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-Bold.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-BoldItalic.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-ExtraBold.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-ExtraBoldItalic.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-ExtraBoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'CharisSIL';
  src: url("/fonts/charis/CharisSil-R.tff") format("ttf"),
    url("/fonts/charis/CharisSil-R.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'CharisSIL';
  src: url("/fonts/charis/CharisSil-I.tff") format("ttf"),
    url("/fonts/charis/CharisSil-I.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'CharisSIL';
  src: url("/fonts/charis/CharisSil-B.tff") format("ttf"),
    url("/fonts/charis/CharisSil-B.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'CharisSIL';
  src: url("/fonts/charis/CharisSil-BI.tff") format("ttf"),
    url("/fonts/charis/CharisSil-BI.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Mono';
  src: url("/fonts/fira-mono/FiraMono-Regular.tff") format("ttf"),
    url("/fonts/fira-mono/FiraMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url("/fonts/jost/Jost-400-Book.tff") format("ttf"),
    url("/fonts/jost/Jost-400-Book.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url("/fonts/jost/Jost-400-BookItalic.tff") format("ttf"),
    url("/fonts/jost/Jost-400-BookItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url("/fonts/jost/Jost-600-Semi.ttf") format("ttf"),
    url("/fonts/jost/Jost-600-Semi.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  src: url("/fonts/jost/Jost-600-SemiItalic.ttf") format("ttf"),
    url("/fonts/jost/Jost-600-SemiItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  src: url("/fonts/jost/Jost-700-Bold.ttf") format("ttf"),
    url("/fonts/jost/Jost-700-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Jost';
  src: url("/fonts/jost/Jost-700-BoldItalic.ttf") format("ttf"),
    url("/fonts/jost/Jost-700-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
}

body {
  font-family: 'HK Grotesk';
}
