@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-Regular.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url("/fonts/hk-grotesk/HKGrotesk-Medium.ttf") format("ttf"),
    url("/fonts/hk-grotesk/HKGrotesk-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: 'HK Grotesk';
}
