:root {
  --lightBlue: #63b3ed;
  --outline: 2px solid var(--lightBlue);
}

a:focus,
a:active,
button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
  outline: var(--outline);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) a:focus {
  outline: none;
}

.outline-bordered {
  border: 2px solid transparent;
}

body.user-is-tabbing .outline-bordered:focus {
  outline: none;
  border: var(--outline);
}

body.user-is-tabbing .breadcrumb:focus {
  box-shadow: none;
}
