@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-Thin.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-Thin.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-ThinItalic.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-ThinItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-Light.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-Light.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-LightItalic.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-Regular.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-RegularItalic.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-RegularItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-Medium.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-Medium.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-MediumItalic.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-MediumItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-SemiBold.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-SemiBoldItalic.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-SemiBoldItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-Bold.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-BoldItalic.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-ExtraBold.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hk-grotesk/HKGrotesk-ExtraBoldItalic.ttf') format('ttf'),
    url('/fonts/hk-grotesk/HKGrotesk-ExtraBoldItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'CharisSIL';
  src: url('/fonts/charis/CharisSIL-R.ttf') format('ttf'),
    url('/fonts/charis/CharisSIL-R.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'CharisSIL';
  src: url('/fonts/charis/CharisSIL-I.ttf') format('ttf'),
    url('/fonts/charis/CharisSIL-I.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'CharisSIL';
  src: url('/fonts/charis/CharisSIL-B.ttf') format('ttf'),
    url('/fonts/charis/CharisSIL-B.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'CharisSIL';
  src: url('/fonts/charis/CharisSIL-BI.ttf') format('ttf'),
    url('/fonts/charis/CharisSIL-BI.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('/fonts/fira-mono/FiraMono-Medium.ttf') format('ttf'),
    url('/fonts/fira-mono/FiraMono-Medium.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('/fonts/fira-mono/FiraMono-Regular.ttf') format('ttf'),
    url('/fonts/fira-mono/FiraMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('/fonts/fira-mono/FiraMono-Bold.ttf') format('ttf'),
    url('/fonts/fira-mono/FiraMono-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-400-Hairline.ttf') format('ttf'),
    url('/fonts/jost/Jost-400-Hairline.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-400-HairlineItalic.ttf') format('ttf'),
    url('/fonts/jost/Jost-400-HairlineItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-400-Thin.ttf') format('ttf'),
    url('/fonts/jost/Jost-400-Thin.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-400-ThinItalic.ttf') format('ttf'),
    url('/fonts/jost/Jost-400-ThinItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-400-Light.ttf') format('ttf'),
    url('/fonts/jost/Jost-400-Light.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-400-LightItalic.ttf') format('ttf'),
    url('/fonts/jost/Jost-400-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-400-Book.ttf') format('ttf'),
    url('/fonts/jost/Jost-400-Book.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-400-BookItalic.ttf') format('ttf'),
    url('/fonts/jost/Jost-400-BookItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-500-Medium.ttf') format('ttf'),
    url('/fonts/jost/Jost-500-Medium.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-500-MediumItalic.ttf') format('ttf'),
    url('/fonts/jost/Jost-500-MediumItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-600-Semi.ttf') format('ttf'),
    url('/fonts/jost/Jost-600-Semi.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-600-SemiItalic.ttf') format('ttf'),
    url('/fonts/jost/Jost-600-SemiItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-700-Bold.ttf') format('ttf'),
    url('/fonts/jost/Jost-700-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-700-BoldItalic.ttf') format('ttf'),
    url('/fonts/jost/Jost-700-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-700-Heavy.ttf') format('ttf'),
    url('/fonts/jost/Jost-700-Heavy.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-700-HeavyItalic.ttf') format('ttf'),
    url('/fonts/jost/Jost-700-HeavyItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-700-Black.ttf') format('ttf'),
    url('/fonts/jost/Jost-700-Black.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 900;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/jost/Jost-700-BlackItalic.ttf') format('ttf'),
    url('/fonts/jost/Jost-700-BlackItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
  font-weight: 900;
}

body {
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}
