---
name: docker_hub

on:
  push:
    branches:
      - production

jobs:
  deploy_docker_image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build the development Docker image
        run: |-
          docker build \
            --tag "neonlaw/interface:latest" \
            --build-arg GATSBY_ACTIVE_ENV=development \
            --build-arg GATSBY_API_URL="$GATSBY_API_URL" \
            --build-arg APP_NAME=neon-law \
            --build-arg DOMAIN_NAME=www.neonlaw.com \
            -f Dockerfile \
            .
        env:
          GATSBY_API_URL: http://127.0.0.1:3000/graphql

      - name: Authenticate to the Docker Hub
        run: |-
          docker login \
            -u ${{ secrets.DOCKER_HUB_USERNAME }} \
            -p ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Push Image to Docker Hub
        run: docker push neonlaw/interface
